{% extends 'base.html' %}
{% block title %}Stock Items{% endblock %}
{% block style %}
    <style>
        th {
            text-align: left;
        }

        .name-col {
            font-size: 14px;
            padding-left: 8px;
        }

        #checkbox {
            width: 25px;
            height: 25px;
        }

        .checkbox-col {
            width: 10px;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>Stock Items</h1>
    <table>
        <thead>
        <tr>
            <th colspan="2">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for item in stock_items %}
            <tr class="request_row">
                <td class="name-col" onclick="window.location.href = '/item/{{ item.item_id }}'">{{ item.name }}</td>
                <td class="checkbox-col"><input type="checkbox" id="checkbox" value="{{ item.item_id }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="nav-buttons" id="buttons">
        <button class="primary-button" onclick="add_item()">Add Item</button>
        <button class="submit-button" onclick="delete_items()">Delete Items</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        function add_item() {
            let name = prompt("Item Name:", "");
            window.location.href = "/items?mode=add&name=" + name
        }

        function delete_items() {
            const all_items = document.querySelectorAll("#checkbox");
            let url = ""
            all_items.forEach(function (item) {
                if (item.checked) {
                    url = url + item.value + ":"
                }
            });
            console.log("Selected Items: " + url)
            window.location.href = "/items?mode=delete&ids=" + url
        }
    </script>
{% endblock %}