{% extends 'base.html' %}
{% block title %}Item{% endblock %}
{% block style %}
    <style>
        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            font-size: 16px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border-radius: 3px 0 0 3px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .row {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .form-row label {
            color: #555;
            font-size: 16px;
            padding-right: 10px;
            box-sizing: border-box;
        }

        button {
            margin-left: 5px;
            margin-right: 5px;
        }

        col {
            font-size: 14px;
            padding: 8px;
        }

        #login-form-body {
            width: 75%;
        }
    </style>
{% endblock %}
{% block main %}
    <div id="login-form-header">
        <h1>{{ item.name }}</h1>
    </div>
    <div id="login-form-body">
        <div class="row">
            <label for="name-input">Item Name:</label>
            <input style="margin-bottom: 20px" type="text" id="name-input" name="name" autocomplete="off" disabled value="{{ item.name }}">
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Date</th>
            <th>Time</th>
            <th>Archived</th>
        </tr>
        </thead>
        <tbody>
        {% for transfer in history %}
            <tr class="request_row">
                <td class="col"><a href="/request/{{ transfer.request_id }}">{{ transfer.request_id }}</a></td>
                <td class="col"><a href="/profile/{{ transfer.employee_id }}">{{ transfer.employee_id }}</a></td>
                <td class="col">{{ transfer.dt_created.split(' ')[0] }}</td>
                <td class="col">{{ transfer.dt_created.split(' ')[1] }}</td>
                <td class="col">{{ transfer.archived }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="nav-buttons" id="buttons">
            <button class="primary-button" id="login-button" onclick="save_item()">Save Changes</button>
            <button class="secondary-button" id="login-button" onclick="edit_item()">Edit Item</button>
            <button class="submit-button" id="login-button" onclick="delete_item()">Delete Item</button>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function edit_item() {
            let name_input = document.getElementById('name-input')
            name_input.disabled = false
        }

        function save_item() {
            let name_input = document.getElementById('name-input')
            let name = name_input.value
            if (name === '') {
                console.log('Name cannot be blank.')
                return
            }
            name_input.disabled = true
            fetch("/item/{{ item.item_id }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: name,
                }),
            }).then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                } else if (response.redirected) {
                    window.location.href = response.url
                }
            }).catch(function (error) {
                console.log("Returned Request Error: " + error);
            });
        }

        function delete_item() {
            fetch("/items?mode=delete&ids={{ item.item_id }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
            }).then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                } else if (response.redirected) {
                    window.location.href = response.url
                }
            }).catch(function (error) {
                console.log("Returned Request Error: " + error);
            });
        }
    </script>
{% endblock %}