{% extends 'base.html' %}
{% block title %}Units{% endblock %}
{% block style %}
    <style>
        th {
            text-align: left;
        }

        .name-col {
            font-size: 14px;
            padding-left: 8px;
        }

        #checkbox {
            width: 25px;
            height: 25px;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>Units</h1>
    <table>
        <thead>
        <tr>
            <th colspan="2">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr class="request_row" style="cursor: pointer">
                <td class="name-col" onclick="console.log(this.target.parent.children[1])">{{ unit.name }}</td>
                <td><input type="checkbox" id="checkbox" value="{{ unit.unit_id }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="nav-buttons" id="buttons">
        <button class="primary-button" onclick="add_unit()">Add Unit</button>
        <button class="submit-button" onclick="delete_unit()">Delete Unit</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        function add_unit() {
            let name = prompt("Unit Name:", "");
            fetch("/units?mode=add", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: name
                }),
            }).then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                } else if (response.redirected) {
                    return window.location.href = response.url
                } else {
                    return response.text()
                }
            }).then(function (text) {
                if (text.startsWith('SUCCESS')) {
                    text = text.replace('SUCCESS', '')
                    success_popup(text)
                } else {
                    failure_popup(text)
                }
            }).catch(function (error) {
                console.log("Returned Request Error: " + error);
            });
        }

        function delete_unit() {
            const all_items = document.querySelectorAll("#checkbox");
            let ids = ""
            all_items.forEach(function (item) {
                if (item.checked) {
                    ids = ids + item.value + ":"
                }
            });
            fetch("/units?mode=delete", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    ids: ids
                }),
            }).then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                } else if (response.redirected) {
                    return window.location.href = response.url
                }else{
                    return response.text()
                }
            }).then(function (text) {
                if (text.startsWith('SUCCESS')) {
                    text = text.replace('SUCCESS', '')
                    success_popup(text)
                } else {
                    failure_popup(text)
                }
            }).catch(function (error) {
                console.log("Returned Request Error: " + error);
            });
        }
    </script>
{% endblock %}