{% extends 'base.html' %}
{% block title %}Stock Items{% endblock %}
{% block style %}
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 95%;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #ddd;
        }

        tr:hover,
        tr:focus-within {
            background: #f2f3ff;
            outline: none;
        }

        td > a:focus {
            outline: 0;
        }

        #selection-col {
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            padding-left: 5px;
            justify-content: end;
        }

        .name-col {
            font-size: 14px;
            padding-left: 8px;
        }

        #checkbox {
            width: 25px;
            height: 25px;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>Stock Locations</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for location in stock_locations %}
            <tr class="request_row" onclick="window.location.href = '/location/{{ location.location_id }}'" style="cursor: pointer">
                <td class="name-col">{{ location.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="nav-buttons" id="buttons">
        <button class="primary-button" onclick="add_location()">Add Location</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        function add_location() {
            let name = prompt("Location Name:", "");
            fetch("/locations?mode=add", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: name
                }),
            })
                .then(function (response) {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                })
                .catch(function (error) {
                    console.log("Returned Request Error: " + error);
                    return error
                });
        }
    </script>
{% endblock %}