<!DOCTYPE HTML>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _scheme='https', filename='stylesheets/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _scheme='https', filename='stylesheets/autocom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', _scheme='https', filename='scripts/cookies.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', _scheme='https', filename='scripts/popups.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/autocom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/cookies.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/popups.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
<div class="alert-box success"></div>
<div class="alert-box failure"></div>
<div class="alert-box warning"></div>
<div class="nav-row">
    <a class="nav-link" id="nav-home" href="/">Home</a>
    <a class="nav-link" id="nav-requests" href="/requests">Requests</a>
    <a class="nav-link" id="nav-locations" href="/locations">Locations</a>
    <a class="nav-link" id="nav-items" href="/items">Items</a>
    <a class="nav-link" id="nav-admin" href="/admin" {{ current_user|is_hidden() }}>Admin</a>
    <a class="nav-link" id="nav-profile" href="/profile/">Profile</a>
</div>
<div class="main">
    {% block main %}{% endblock %}
</div>
<div class="footer" style="text-align: center">
    <p>Developed by Bryce Cotton, not affiliated with Centerplate Catering/Sodexo Live</p>
</div>
<script>
    try {
        document.getElementById('nav-profile').href = '/profile/' + getCookie('employee_id')
    } catch (error) {
        console.log(error)
    }
</script>
{% block script %}
{% endblock %}
</body>
</html>