{% extends 'base.html' %}
{% block head %}
    <script src="https://unpkg.com/html5-qrcode"></script>{% endblock %}
{% block title %}Test{% endblock %}
{% block style %}
    <style>
        #row-inputs {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block main %}
    <div id="row-inputs">
        <label for="barcode">Barcode:</label>
        <input type="text" id="barcode" name="barcode" placeholder="" disabled>
    </div>
    <div id="qr-reader"></div>
{% endblock %}
{% block script %}
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            console.log(`Code scanned = ${decodedText}`, decodedResult);
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", {fps: 10, qrbox: 250});
        html5QrcodeScanner.render(onScanSuccess);
    </script>
{% endblock %}