{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block title %}Title{% endblock %}
{% block style %}{% endblock %}
{% block main %}
    <button class="primary-button" id="send-msg-button" onclick="send_msg()">Login</button>
    <div id="messages">
        {% for msg in msgs %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
        var socket = io();

        socket.on('msg_received', function (msg) {
            const message = document.createElement("p")
            message.innerHTML = msg
            document.getElementById('messages').appendChild(message)
        });


        function send_msg() {
            let msg = window.prompt('Enter Message')
            socket.emit('test', msg);
        }
    </script>
{% endblock %}