{% extends 'base.html' %}
{% block title %}Admin Panel{% endblock %}
{% block style %}
    <style>
        .nav-buttons {
            display: flex;
            align-items: center;
        }

        #buttons {
            flex-direction: column;
        }

        button {
            margin: 15px;
            width: 50%;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>Admin Panel</h1>
    <div class="nav-buttons" id="buttons">
        <button class="primary-button" id="view-items-button" onclick="window.location.href='/users'">View Users</button>
        <button class="secondary-button" id="init-items-button" onclick="window.location.href='/database?func=init-items'">Load All Items</button>
        <button class="secondary-button" id="init-locations-button" onclick="window.location.href='/database?func=init-locs'">Load All Locations</button>
        <button class="secondary-button" id="init-locations-button" onclick="window.location.href='/database?func=init-dev-users'">Load Developer Users</button>
    </div>
{% endblock %}
{% block script %}{% endblock %}
