{% extends 'base.html' %}
{% block title %}Admin Panel{% endblock %}
{% block style %}
    <style>
        .nav-buttons {
            display: flex;
            align-items: center;
        }

        #buttons {
            flex-direction: column;
        }

        button {
            margin: 15px;
            width: 50%;
        }
    </style>
{% endblock %}
{% block main %}
    <h1>Admin Panel</h1>
    <div class="nav-buttons" id="buttons">
        <button class="primary-button" id="view-items-button" onclick="window.location.href='/trackers'">View Trackers</button>
        <button class="primary-button" id="view-items-button" onclick="window.location.href='/users'">View Users</button>
        <button class="primary-button" id="view-items-button" onclick="window.location.href='/units'">View Transfer Units</button>
        <button class="primary-button" id="view-items-button" onclick="invite()">Invite User</button>
        <button class="secondary-button" id="init-items-button" onclick="window.location.href='/database?func=init-items'">Load All Items</button>
        <button class="secondary-button" id="init-locations-button" onclick="window.location.href='/database?func=init-locs'">Load All Locations</button>
        <button class="secondary-button" id="init-locations-button" onclick="window.location.href='/database?func=init-dev-users'">Load Developer Users</button>
        <button class="submit-button" id="backup-users" onclick="database('backup')">Backup Database</button>
        <button class="submit-button" id="load-users" onclick="database('restore')">Restore Database Backup</button>
    </div>
{% endblock %}
{% block script %}
    <script>
        function invite() {
            let phone = prompt("Phone Number:", "");
            fetch("/invite", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    phone: phone,
                }),
            }).then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                } else if (response.redirected) {
                    window.location.href = response.url
                }
            }).catch(function (error) {
                console.log("Returned Request Error: " + error);
            });
        }

        let form = document.getElementById('form')
        let upload_button = document.getElementById('test-button')
        upload_button.addEventListener('click', function (event) {
            event.preventDefault()
            let formdata = new FormData(form)
            console.log(form)
            $.ajax({
                type: 'POST',
                url: '/convert',
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data === 'success') {
                        success_popup(data)
                    } else {
                        failure_popup(data)
                    }
                },
            });
        })

        function database(mode) {
            fetch("/database?mode=" + mode, {
                method: "POST",
            }).then(function (response) {
                if (!response.ok) {
                    throw Error(response.statusText);
                } else if (response.redirected) {
                    return window.location.href = response.url
                } else {
                    return response.text()
                }
            }).then(function (text) {
                if (text.startsWith('SUCCESS')) {
                    text = text.replace('SUCCESS', '')
                    success_popup(text)
                } else {
                    failure_popup(text)
                }
            }).catch(function (error) {
                console.log("Returned Request Error: " + error);
            });
        }
    </script>
{% endblock %}
